#wrapper {
  background: #fff;
}
.container {
  @include tablet {
    width: 100%;
  }
  @include mobile {
    width: 100%;
  }
}
header {
  @include not-mobile {
    > .lea-links {
      display: none;
    }
  }
}
.btn, .form-control{
  border-radius: 4px;
}
hr{
  opacity: 0.3;
}
#login-form h1{
  text-align: center;
  font-weight: 400;
  color: #000;
  padding-bottom: 45px;
  font-size: 26px;
}
.page-authentication #content{
  border-radius: 10px;
  box-shadow: 0 15px 35px rgb(248, 235, 236);
}
form .form-control-label {
  font-weight: normal;
}
.input-group .input-group-btn > .btn[data-action="show-password"]{
  background: #000;
}
.btn-primary, .btn-secondary, .btn-tertiary {
  font-weight: 400;
  text-transform: capitalize;
}
body{
  font-weight: 400;
  padding-top: 96px;
  background: #fbf5f6;
  @include desktop{
    padding-top: 128px;
  }
  #wrapper{
    max-width: 1190px;
    background: unset;
    margin:0 auto;
  }
  &#index{
    padding-top: 0;
    #wrapper{
      max-width: 100%;
    }
  }
}
#main .page-content{
  @include desktop{
    margin-bottom: 6.5rem;
  }
}
#menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  font-weight: 500;
  @include mobile {
    height: 48px;
    .lea-links {
      display: flex;
    }
  }
  width: 100%;
  flex-grow: 1;
  box-shadow: 0 15px 35px rgba(226, 176, 185, 0.2);
  backdrop-filter: blur(8px);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 2;
    &:after {
      content: none;
    }
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 1;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-grow: 1;
  }
}

.header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: rgba(255, 255, 255, 0);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  margin-left: 4px;
  img {
    width: 24px;
    height: 24px;
    fill: #fff;
  }
  &:hover {
    background: rgba(255, 255, 255, 0.25);
    transform: scale(1.1);
  }
  &:active {
    background: rgba(255, 255, 255, 0.25);
    transform: scale(1.05);
  }
  &.close {
    position: absolute;
    top: 16px;
    right: 16px;
    opacity: 1 !important;
    &:after {
      content: none !important;
    }
  }
}

.lea-links {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 48px;
  @include mobile {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(#fff, 0.35);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    opacity: 0;
    pointer-events: none;
    &:before {
      content: "MENU";
      color: #ecadc4;
      font-size: 12px;
      letter-spacing: 12px;
    }
    &.active{
      opacity: 1;
      pointer-events: all;
    }
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    font: normal normal medium 14px/20px Jost;
    letter-spacing: 0.7px;
    color: #332a30;
    &.inactive {
      pointer-events: none;
      opacity: 0.5;
    }
    &:after {
      content: "";
      position: absolute;
      width: 24px;
      height: 2px;
      background: #ecadc4;
      bottom: -1px;
      left: 0;
      transform-origin: 0 0;
      transform: scaleX(0);
      transition: all 0.2s;
    }
    &:hover {
      color: #332a30 !important;
      &:after {
        transform: scaleX(1);
      }
    }
    .tag {
      background: #fff;
      color: #000;
      font-size: 8px;
      text-transform: uppercase;
      border-radius: 3px;
      display: inline-flex;
      margin-left: 4px;
      align-items: center;
      justify-content: center;
      padding: 3px;
      position: absolute;
      right: 49%;
      bottom: -12px;
      transform: translateX(50%);
    }
  }
}
.row {
  margin-right: -0;
  margin-left: -0;
}
#wrapper{
  padding-top: 0;
}
.loveletter{
  width: 100%;
  height: 595px;
  background: url(../img/hero_ll.jpg) #eddce2 center center;
  @include mobile{
    background: url(../img/hero_ll_mobile.jpg) #eddce2 bottom center;
    background-size: cover;
    height: 549px;
  }
  .container{
    height: 100%;
    .content{
      height: 100%;
      width: 50%;
      @include mobile{
        width: 100%;
        justify-content: end;
        padding-bottom: 48px;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 60px;
      p{
        letter-spacing: 12px;
        color: #7E5C76;
        font-size: 20px;
        text-transform: uppercase;
        @include mobile{
          letter-spacing: 6px;
          font-size: 16px;
          text-align: center;
        }
      }
      > img{
        margin-top: -42px;
        margin-bottom: -33px;
      }
      .price{
        display: inline-flex;
        align-items: center;
        @include mobile{
          flex-direction: column;
          margin-top: 16px;
        }
        .price-value{
          font: normal normal medium 12px/18px Jost;
          letter-spacing: 0px;
          color: #7E5C76;
          text-transform: uppercase;
          margin-right: 24px;
          @include mobile{
            margin-right: 0;
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}
.btn-lea{
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0px;
  color: #640927 !important;
  transition: all 0.2s;
  box-shadow: 0 5px 15px rgba(226, 176, 185, 0.2);
  img{
    margin-left: 16px;
    transition: all 0.2s;
  }
  &:hover{
    transform:translateY(-3px);
    color: #3b0517 !important;
    box-shadow: 0 8px 15px rgba(226, 176, 185, 0.1);
    img{
      transform: translateX(5px);
    }
  }
  &:active{
    transform:translateY(-1px)
  }
}
a:focus {
  text-decoration: none;
  outline: none;
  outline-offset: -2px;
}
@include not-desktop{
  #footer{
    overflow: hidden;
  }
}
@include mobile{
  .footer-container .links ul{
    background: transparent;
  }
  #footer .navbar-toggler > *{
    font-size: 18px;
    color: #640927;
  }
}
// FOOTER
#footer{
  background: #ffffff;
  padding-top: 0;
}
.reassurance{
  margin-bottom: 64px;
}
.footer-container, .container-reassurance{
  background: linear-gradient(0deg, #FFF6F9 0%, #fefefe 100%);
  position: relative;
  overflow: unset;
  z-index: 1;
  padding-top: 0;
  .copyrightsubfooter{
    color: #6c1632;
    font-size: 12px;
  }
  .container {
    padding-top: 64px;
    position: relative;
    .reassurance{
      padding-top: 64px;
    }
    &::after{
      position: absolute;
      top: -37px;
      left: -50px;
      width: 183px;
      height: 106px;
      background: url(/img/petales.png);
      content: '';
    }
    &::before{
      position: absolute;
      top: -47px;
      right: -50px;
      width: 160px;
      height: 170px;
      background: url(/img/petale.png);
      content: '';
    }
    a{
      color: #302828;
    }
  }
  &::before{
    position: absolute;
    top: -87px;
    left: 0;
    height: 87px;
    width: 100%;
    background: url(/img/subfooter.png);
    content: '';
    box-shadow: inset 0px -35px 26px -30px #f0c1d26b;
  }
}

.footer-container .links .h3, #block_myaccount_infos .myaccount-title a{
  font-size: 10px;
  letter-spacing: 2px;
  color: #640927;
  position: relative;
  margin-bottom: 24px;  
  margin-top: 10px;
  }
.footer-container .links .h3:after{
  content:'';
  width: 20px;
  height: 1px;
  background: #640927;
  position: absolute;
  left: 0;
  bottom: -10px;
}
.reassurance{
  margin-bottom: 48px !important;
  position: relative;
  z-index: 2;
  
  @include mobile{
    margin-bottom: 24px !important;
    margin-top: 48px !important;
  }
  .col-md-3.col-xs-6{
    display: flex;
    flex-direction: column;
    &:nth-child(3) img{
      width: 80px;
    }
    @include mobile{
      height: 160px;
    }
    img{
      width: 64px;
      height: 64px;
      object-fit: contain;
      margin:0 auto 16px auto;
      &:last-child{
        height: 30px;
        margin:0 auto 0 auto;
      }
    }
    span{
      text-align: center;
      color: #161014;
      @include mobile{
        font-size: 14px;
      }
    }
  }
}
.container-reassurance{
  &:before{
    display: none;
  }
  .container{
    padding-top: 0;
    padding-bottom: 64px;
    z-index: 2;
    &:before, &:after{
      transform: rotate(170deg) scale(0.50);
    }
  }
}
.page-header h1{
  font-weight: 400;
  color: #640927;
  font-size: 26px;
}

#authentication{
  @include mobile{
    #submit-login{
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
  .page-header h1{
    text-align: center;
  }
}

.loveletter-products{
  background: $black;
  padding: 64px 0 0;
  .headings{
    transform:translateZ(0);
    position: relative;
    z-index: 2;
  }
  h1{
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 16px;
    display: block;
    text-align: center;
    @include mobile{
      font-size: 20px;
    }
  }
  h2{
    color: $brand-primary;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 32px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    z-index: 2;
    @include mobile{
      letter-spacing: 2px;
    }
  }
  .owlslider{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    @include mobile{
      flex-direction: column;
    }
    .loveletter-product{
      max-width: 360px;
      width: 100%;
      &:nth-child(2){
        transform:scale(1.1);
        @include mobile{
          transform:scale(1)
        }
      }
      img{
        transition: .2s all;
        z-index: 1;
      }
      .infos{
        text-align: center;
        z-index: 2;
        transform: translateY(-90px);
        transition: .2s all;
        p{
          text-transform: uppercase;
          color: $white;
          letter-spacing: 6px;
          margin-bottom: 4px;
          font-size: 16px;
        }
        span{
          display: block;
          text-align: center;
          &.price{
            font-size: 16px;
            font-weight: 400;
            color: $white;
            transition: .2s all;
            margin-bottom: 8px;
          }
          &.variant{
            font-size: 12px;
            font-weight: 400;
            color: $white;
            margin-bottom: 16px;
            &.variant-rose{
              color:#fcd9d5;
            }
            &.variant-silver{
              color:#CCCCCC;
            }
            &.variant-gold{
              color:#FFF1B7;
            }
          }
        }
      }
      &:hover{
        img{
          transform: scale(1.05);
        }
        .infos{
          transform: translateY(-80px);
          .price{
            transform: translateY(-5px);
          }
        }
      }
    }
  }
}
.threebox{
  display: flex;
  @include mobile{
    flex-direction: column;
  }
  > div{
    width: 33.33%;
    @include mobile{
      width: 100vw;
      height: 100vw;
    }
    position: relative;
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
      pointer-events: none;
    }
    @include mobile{
      width: 100%;
    }
    &:nth-child(1) figure p{
      justify-content: start;
    }
    &:nth-child(2) figure p{
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      font-size: 48px;
      line-height: 52px;
      text-align: center;
      @include not-desktop{
        font-size: 32px;
      }
    }
    &:nth-child(3) figure p{
      justify-content: end;
      align-items: start;
    }
    figure{
      width: 100%;
      height: 100%;
      margin: 0;
      position: relative;
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        object-fit:cover
      }
      p{
        z-index: 1;
        font-size: 26px;
        line-height: 32px;
        position: absolute;
        box-sizing: border-box;
        margin-bottom: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: $black;
        padding: 32px;
        display: flex;
        justify-content: end;
        align-items: end;
        @include not-desktop{
          font-size: 20px;
        }
      }
    }
  }
}
.block_newsletter{
  background: url(../img/slider-fille.jpg) left bottom;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: 305px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .container{
    position: relative;
    height: 305px;
  }
  h1{
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 400;
    font-size: 24px;
    padding-top: 16px;
  }
  .content{
    width: 40%;
    @include tablet{
      width: 60%;
    }
    @include mobile{
      width: calc(100% - 32px);
      margin:16px;
    }
    margin:32px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.72);
    box-shadow: 0 15px 35px rgba(226, 176, 185, .2);
    backdrop-filter: blur(8px);
    border-radius:5px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding:32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    align-items: end;
    gap:16px
  }
}